<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title> WORK </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
  
    <p> 
        Jobs became CEO of Apple in 1997, following the company's acquisition of NeXT. 
        He was largely responsible for helping revive Apple, which had been on the verge of bankruptcy. 
        He worked closely with English designer Jony Ive to develop a line of products that had larger cultural
        ramifications, beginning in 1997 with the "Think different" advertising campaign and leading to the Apple 
        Store, App Store, iMac, iPad, iPod, iPhone, iTunes, and iTunes Store. In 2001, the original Mac OS was 
        replaced with the completely new Mac OS X (now known as macOS), based on NeXT's NeXTSTEP platform, giving 
        the OS a modern Unix-based foundation for the first time. Jobs was diagnosed with a pancreatic 
        neuroendocrine tumor in 2003. He died of respiratory arrest related to the tumor at age 56 on October 5, 2011.  
    </p>
    
    <a href="/home"> Back to Home</a>
  </body>
</html>
